.col {
    font-size: 12px;
}

.col-cell {
    padding: 2px 3px 2px 3px;
}

.col-title {
    background: #777;
    color: #ddd;
    font-weight: bold;
    text-align: center;
}

.col-account-name {
    font-weight: bold;
}

.editable-asset {
    background: coral;
}

.editable-liability {
    background: darkturquoise;
}

.delete-icon {
    float: left;
    margin: 0 7px 0 0;
}

.transparent-button {
    border: none;
    background: transparent;
}

.full-width {
    width: 100%;
    padding: 0 21px 0 21px;
}

.center-w640 {
    width: 640px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.btn-myequity {
    background: blanchedalmond;
}

.valign-top {
    vertical-align: top;
}

.align-right {
    text-align: right;
}

.align-right-p7 {
    text-align: right;
    padding: 0 7px 0 0;
}

.align-left-p7 {
    text-align: left;
    padding: 0 0 0 7px;
}

.border-1px {
    border: 1px;
    border-style: solid;
}

.margin-bottom {
    margin: 0 0 7px 0;
}

.bg-light-yellow {
    background: #fff9a1;
}

.navigation-buttons-padding-bottom {
    text-align: center;
    padding: 0 0 7px 0;
}

.navigation-buttons-padding-top {
    text-align: center;
    padding: 7px 0 0 0;
}
