.col {
    font-size: 12px;
}

.col-title {
    background: #777;
    color: #ddd;
    font-weight: bold;
    text-align: center;
}

.col-account-name {
    font-weight: bold;
}

.col-value {
    text-align: right;
}

.editable-asset {
    background: coral;
}

.editable-liability {
    background: darkturquoise;
}

.delete-icon {
    float: left;
    margin: 0 7px 0 0;
}

.transparent-button {
    border: none;
    background: transparent;
}

.full-width {
    width: 98%;
    padding-left: 2%;
}

.center-w640 {
    width: 640px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.btn-myequity {
    background: blanchedalmond;
}
