.bg-snapshots-even {
    background: #fff9a1;
}

.bg-snapshots-odd {
    background: #dfd981;
}

.col-snapshots-title {
    text-align: center;
    color: white;
    background: #666;
}

.col-snapshot-DESKTOP {
}

.col-snapshot-MOBILE {
    font-size: 48px;
}

.col-snapshot-delete-DESKTOP {
    max-width: 42px;
}

.col-snapshot-delete-MOBILE {
    max-width: 72px;
}
