.snapshot-name {
    font-weight: bold;
}

.border-1px-bottom {
    border: 1px;
    border-bottom-style: solid;
}

.left-button {
    float: left;
    margin: -5px 0 5px -15px;
}

.right-button {
    float: right;
    margin: -5px -15px 5px 0;
}

.snapshot-header {
    margin: -11px 0 5px 0;
}

.delete-icon {
    float: left;
    margin: 0 7px 0 0;
}

.col-section {
    margin: 1px;
    border: outset 1px;
}

.cell-green {
    font-weight: bold;
    color: green;
}

.cell-orange {
    font-weight: bold;
    color: darkorange;
}

.cell-red {
    font-weight: bold;
    color: red;
}

.snapshot-currencies-DESKTOP {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    font-size: 12px;
}

.snapshot-currencies-TABLET {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    font-size: 12px;
}

.snapshot-currencies-MOBILE {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    font-size: 28px;
}

.mid-col {
    max-width: 420px;
}

.col-currencies {
    padding-bottom: 13px;
}

.col-edge-DESKTOP {
    min-width: 144px;
    max-width: 144px;
}

.col-edge-TABLET {
    min-width: 144px;
    max-width: 144px;
}

.col-edge-MOBILE {
}

.asset-accounts {
  background: mistyrose;
}

.editable-asset-even {
    background: #ffbfce;
}

.editable-asset-odd {
    background: #ef9fae;
}

.regular-asset-even {
    background: #fff2f0;
}

.regular-asset-odd {
    background: #efd2d0;
}

.liability-accounts {
  background: lightcyan;
}

.editable-liability-even {
    background: #affefd;
}

.editable-liability-odd {
    background: #8be1e0;
}

.regular-liability-even {
    background: #ebffff;
}

.regular-liability-odd {
    background: #cbe7e7;
}

.income-transactions {
  background: lavender;
}

.editable-income-even {
  background: #efcbe8;
}

.editable-income-odd {
  background: #cfabc8;
}

.regular-income-even {
  background: #f7f4ff;
}

.regular-income-odd {
  background: #d7d4f7;
}

.investment-transactions {
  background: lavender;
}

.editable-investment-even {
  background: #efcbe8;
}

.editable-investment-odd {
  background: #cfabc8;
}

.regular-investment-even {
  background: #f7f4ff;
}

.regular-investment-odd {
  background: #d7d4f7;
}

.donation-transactions {
  background: lavender;
}

.editable-donation-even {
  background: #efcbe8;
}

.editable-donation-odd {
  background: #cfabc8;
}

.regular-donation-even {
  background: #f7f4ff;
}

.regular-donation-odd {
  background: #d7d4f7;
}

.bg-transaction-subcategory {
    background: lightgrey;
}

.transaction-subcategory-label {
    font-style: italic;
}

.default-tithing-DESKTOP {
}

.default-tithing-TABLET {
}

.default-tithing-MOBILE {
    padding: 90px 0 0 0;
    font-size: 28px;
}

.hidden-input {
    display: none;
    position: relative;
    z-index: 1;
}
