.snapshot-name {
    font-weight: bold;
}

.border-1px-bottom {
    border: 1px;
    border-bottom-style: solid;
}

.left-button {
    float: left;
    margin: -5px 0 5px -15px;
}

.right-button {
    float: right;
    margin: -5px -15px 5px 0;
}

.snapshot-header {
    margin: -11px 0 5px 0;
}

.col-section {
    margin: 1px;
    border: outset 1px;
}

.cell-green {
    font-weight: bold;
    color: green;
}

.cell-red {
    font-weight: bold;
    color: red;
}

.center-w50pct {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    font-size: 12px;
}

.mid-col {
    max-width: 420px;
}

.col-currencies {
    padding-bottom: 13px;
}

.col-edge {
    min-width: 140px;
    max-width: 140px;
}

.asset-accounts {
  background: mistyrose;
}

.editable-asset {
    background: lightpink;
}

.liability-accounts {
  background: lightcyan;
}

.editable-liability {
  background: paleturquoise;
}

.income-transactions {
  background: lavender;
}

.editable-income {
  background: thistle;
}

.investment-transactions {
  background: lavender;
}

.editable-investment {
  background: thistle;
}

.donation-transactions {
  background: lavender;
}

.editable-donation {
    background: thistle;
}

.bg-transaction-subcategory {
    background: lightgrey;
}

.transaction-subcategory-label {
    font-style: italic;
}
